<% content_for(:head) do %>
    <%= javascript_include_tag "search" %>
<% end %>

<!--<h1>search</h1>-->

<div id="searchBox">
  <form id="searchForm" method="post">
    <div id="basicSearch">
      <label for="keyword">keyword</label>
      <input type="text" name="keyword"/>
      <input type="submit" value="search"/>

      <div><a id="advancedButton" href="#" title="advanced search">advanced search</a></div>
    </div>
    <div id="advancedSearch">
      <div>item1</div>
      <div>item2</div>
      <div>item3</div>
    </div>
  </form>
</div>