<h1>Editing resource</h1>

<%= render :partial => 'form', :locals => {:record => @resource} %>

<%= link_to_span 'Show', @resource, :class => 'linkButton' %>
<%= link_to_span 'Back', resources_path, :class => 'linkButton' %>
